<div class='row'>
  <div class='small-12 medium-4 columns border'>
    <%= @user.email %>
    <% if @user.bands %>
      <% @user.bands.each do |band| %>
        <div><%= band.name %></div>
      <% end %>
    <% end %>
    <div>
      <%= link_to("Add a band", new_band_path) %>
    </div>
  </div>
</div>
