/*= require foundation */

.button {
  background-color: #FF389C;
  color: #000;
  font-weight: bold;
  display: inline-block;
}

.button:hover {
  background-color: #FF389C;
}

.panel {
  background-color: #FF389C;
}

a {
  color: #000;
}

.band-photo {
  float: right;
}

#page-buttons {
  display: none;
}

#zip-code-form {
  border: 4px solid #FF389C;
  display: inline-block;
  background-color: rgba(250,158,249,0.5);
  padding: 5px;
  margin: 50px 0px 50px 0px;
  float: right;
}

#zip-code-button {
  float: right;
}

#rsvps {
  float: right;
  border-left: 2px solid #000;
  margin-top: 10px;
}

#comment-form {
  display: none;
}

.flash-error {
  background-color: rgba(255, 0, 0, 0.7);
  padding: 4px;
}

.flash-notice {
  background-color: rgba(52, 250, 111, 0.7);
  padding: 4px;
}

.show-photo {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  position: relative;
}

#band-name {
  margin-top : 175px;
  position: absolute;
}

#top-section {
  background-image: url("screaming-females-large.jpg");
  background-repeat:repeat;
  background-position: center;
  background-size: cover;
}

#band-map {
  margin-bottom: 50px;
}

#shows {
  margin-top: 10px;
}

* {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  margin: 0;
}

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

#footer, #push {
  height: 4em;
  background-color: #333333;
}

#bottom-bar {
  color: #fff;
  text-align: center;
}

#bottom-bar a {
  color: #FF389C;
}
