/*= require foundation */

.button {
  background-color: #FF389C;
  color: #000;
  font-weight: bold;
  display: inline-block;
}

.button:hover {
  background-color: #FF389C;
}

.panel {
  background-color: #FF389C;
}

a {
  color: #000;
}

.band-photo {
  float: right;
}

/*a:visited {
  color: #961953;
}*/

#page-buttons {
  display: none;
}

#zip-code-form {
  border: 4px solid #FF389C;
  display: inline-block;
  background-color: rgba(250,158,249,0.5);
  padding: 5px;
  margin: 50px 0px 50px 0px;
  float: right;
}

#zip-code-button {
  float: right;
}

#rsvps {
  float: right;
}

/*#title {
  background-color: rgba(250,158,249,0.7);
  float: left;
  font-size: 60px;
  padding: 30px;
  margin-bottom: 20px;
  border: 4px solid #FF389C;
}*/

#comment-form {
  display: none;
}

.flash-error {
  background-color: rgba(255, 0, 0, 0.7);
  padding: 4px;
}

.flash-notice {
  background-color: rgba(52, 250, 111, 0.7);
  padding: 4px;
}

.show-photo {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

#band-name {
  float: right;
  margin-right: 10%;
  margin-top : 300px;
}

/*.sign-in-box {
  float: right;
}*/

/*h1 a {
  font-size: 100px;
  font-family: Impact;
}*/

/*h2 {
  font-size: 50px;
  font-style: italic;
  color: #FF389C
}*/

/*h3 {
  font-style: italic;
  color: #FF389C
}*/

#top-section {
  background-image: url("screaming-females-large.jpg");
  background-repeat:repeat;
  background-position: center;
  background-size: cover;
}
