<div id="top-section">
  <div class="row">
    <div class='small-12 medium-6 columns' id="zip-code-form">
      <h1>Scene Hub</h1>
      <h3>Listen Locally</h3>
      <form action='/shows' method='get'>
        <label>Zip code<input type="text" id="user_zip" name="zip_code" /></label>
        <label>Distance<input type="text" id="distance" name="radius" /></label>
        <label>Genre<input type="text" id="genre" name="genre" /></label>
        <input type='submit' value='Find local music' class="button">
      </form>
    </div>
  </div>
</div>

<% if @shows.nil? || @shows.empty? %>
  <div class='flash-notice'>
    No shows found
  </div>
<% end %>

<% if @shows %>
  <div id="page-buttons">
    <%= paginate @shows %>
  </div>
<% end %>

<% if @shows %>
  <% if signed_in? %>
    <%= render "rsvps" %>
  <% end %>
  <div class="row" id="shows">
    <h3>Upcoming Shows</h3>
    <div class='small-12 medium-8 columns'>
      <%= render @shows %>
    </div>
  </div>
<% end %>
