<!DOCTYPE html>
<html>
<head>
  <title>SceneHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Scene Hub</h1>
<h2>Listen Locally</h2>

<%= yield %>

</body>
</html>
